briefproj-title{
  font-family:"Playfair Display SC", "Open Sans", Helvetica, sans-serif, Arial !important;
}

briefproj-h1{
  font-weight:900 !important;
}

briefproj-h2{
  font-size: 32px !important; 
}
